/*******************************
     User Global Variables
*******************************/
/* Fonts */
@primaryFont: 'Quicksand';
@headerFont:  'Varela Round';
@otherFont:   'Nunito';

/* Colors */
@teal: #4cc7e1;
@darkBlue: #000b91;
@green: #a8efae;
@primaryColor: @teal;
@secondaryColor: @darkBlue;
@tertiaryColor: @green;