.App {
    background-image: url('../src/logoPhotos/bpdx_pdxskyline_background.png');
     /*background-size: 100%; */
    background-position: bottom left;
    background-repeat: repeat-x;
    object-fit: cover;
    /* background-attachment: fixed; */
}
