.adminDash {
    width: 100vw;
    margin-bottom: 20px;
}

.adminView {
    height: 100vh;
    width: 100vw;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.dashMenu {
    flex-grow: 0;
    margin-right: 20px;
    height: 100vh;
}

.adminPageContent {
    flex-grow: 3;
    height: 100vh;
    margin-right: 40px;
}
