.smallGrid {
  background-color: #75e8ed;
}

.outer {
  background-color: #75e8ed;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  min-height: 100vh;
  flex-direction: column;
}

.con {
  font-size: 6vw !important;
  font-color: white;
}

.us {
  font-size: 6vw !important;
}

.email {
  font-size: 10vw !important;
}

.address {
  font-size: 4vw !important;
}

.bigGrid {
  background-color: #d3fffe;
}

.footer {
  color: #75e8ed !important;
}
