.input-wrapper span{
    /* visibility: hidden; */
    color: #008000;
}
    
.input-wrapper.has-error span{
    /* visibility: visible; */
    color: #FF0000;
}
    
.input-wrapper.has-error input{
    color: #FF0000;
}
    
.input-wrapper.has-error textarea{
    border: 1px solid #FF0000;
}

.ui.toggle.checkbox input:checked + label:before {
    background-color: #ff0000 !important;
}

.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: #ff0000 !important;
}

.ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: #ff0000 !important;
}

.ui.toggle.checkbox input:focus:checked ~ .box:before, .ui.toggle.checkbox input:focus:checked ~ label:before {
    background-color: #ff0000 !important;
}