.input-wrapper span{
    visibility: hidden;
    color: #008000;
}

.input-wrapper.has-error span{
    visibility: visible;
    color: #FF0000;
}

.input-wrapper.has-error input{
    color: #FF0000;
}

.input-wrapper.has-error textarea{
    border: 1px solid #FF0000;
}

.react-datepicker__time-container {
    width: 7em !important
}

.react-datepicker__time-box {
  width:100% !important
}