.Home {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    width: 100vw;
}

.Logo {
    /* This positioning needs to be changed for mobile. will do when we
       have an actual logo */
    position: relative;
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg);
    color: black;
    justify-content: center;
    margin-left: 195px;
    z-index: 1; 
    font-size: 275%;
}

.ImageCarousel {
    justify-content: center;
    height: 600px;
    margin: 10px 10px 10px 10px;
}

.MissionHeader {
    justify-content: left;
    padding-top: 100px; 
    margin-top: 650px;
    margin-left: 225px;
}

.MissionStatement {
    position: relative;
    display: inline-block;
    justify-content: left;
    text-align: left;
    margin-top: 10px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

.DonateButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a6fcd4;
    margin-top: -200px;
    margin-left: 20px;
    margin-bottom: 50px;
}
