.card-description{
    display: inline-block;
    white-space: nowrap;
    max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-button {
    position: 'absolute';
    bottom: '10px';
    box-shadow: '3px 3px #888888'
}

.capitalize {
    text-transform: capitalize;
}

.outer-div
{
    max-height: 327px;
    vertical-align: middle;
    overflow: hidden;
}

.card-image {
    position: relative;
    overflow: hidden;
    background-color: black;
    background-position: center;
    background-size: cover;
    transition: all 0.7s ease;
}

.card-image:hover
{
    transform: scale(1.1) rotate(2deg);
}