.card-header{
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "...";
}

.card-description{
    display: inline-block;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body{
    padding:5px 10px;
    display: inline-block;
    max-height: 160px;
    overflow: hidden;
    text-overflow: "...";
    /* max-width: 200px;
    overflow: hidden;
    white-space: nowrap; */
    /* display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
}

/* .body:hover{
    text-overflow: inherit;
    overflow: visible;
} */