.photoView {
    width: 100%;
    height: 100%;
}

.cardGroup {
    padding-top:1%;

}

.ui.labeled.icon.button {
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.ui.card.notClicked{
    box-shadow: none !important;
    animation: none !important;
    position: static;
}
.ui.card.clicked {
    background-color: red;
    box-shadow: none !important;
    animation: none !important;

}

.ui.card>.image, .ui.cards>.card>.image {
    position: relative;
    margin: auto;
    display: block;
    flex: 0 0 auto;
    width: 75%;
    background: rgba(0,0,0,.05);
}